.draw {
  text-align: center;
  border: #32de84 8px dotted;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5rem;
  max-width: 250px;
  width: 100%;
}

@media (max-width: 768px) {
  .draw {
    font-size: 1.2rem;
    border-width: 6px;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .draw {
    font-size: 1rem;
    border-width: 4px;
    max-width: 150px;
  }
}
