@keyframes strike-animation-horizontal {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes strike-animation-vertical {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes strike-animation-diagonal {
  from {
    width: 0;
  }
  to {
    width: 140%;
  }
}

.strike {
  position: absolute;
  background-color: #32de84;
}

.strike-x {
  background-color: #32de84;
}

.strike-o {
  background-color: #fff;
}

.strike-row-1,
.strike-row-2,
.strike-row-3 {
  height: 4px;
  animation: strike-animation-horizontal 0.5s ease-out forwards;
}

.strike-row-1 {
  top: 15%;
}

.strike-row-2 {
  top: 48.5%;
}

.strike-row-3 {
  top: 83%;
}

.strike-column-1,
.strike-column-2,
.strike-column-3 {
  width: 4px;
  animation: strike-animation-vertical 0.5s ease-out forwards;
  transform-origin: top;
}

.strike-column-1 {
  left: 15%;
}

.strike-column-2 {
  left: 48.5%;
}

.strike-column-3 {
  left: 82.7%;
}

.strike-diagonal-1,
.strike-diagonal-2 {
  height: 4px;
  animation: strike-animation-diagonal 0.5s ease-out forwards;
}

.strike-diagonal-1 {
  width: 140%;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: left;
}

.strike-diagonal-2 {
  width: 140%;
  top: 0;
  right: 10px;
  transform: rotate(-45deg);
  transform-origin: right;
}
