.tile {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #32de84;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tile-x {
  color: #32de84;
}

.tile-o {
  color: #fff;
}

.x-hover::after,
.o-hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 5rem;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
  color: #fff;
}

@media (max-width: 768px) {
  .tile {
    font-size: 4rem;
  }

  .x-hover::after,
  .o-hover::after {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .tile {
    font-size: 3rem;
  }

  .x-hover::after,
  .o-hover::after {
    font-size: 3rem;
  }
}
