.reset-button {
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 40px;
  padding: 25px;
  background-color: #32de84;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  max-width: 250px;
  width: 100%;
}

.reset-button:hover {
  background-color: #28b46b;
}

@media (max-width: 768px) {
  .reset-button {
    padding: 15px;
    font-size: 1.2rem;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .reset-button {
    padding: 10px;
    font-size: 1rem;
    max-width: 150px;
  }
}
