.reset-button {
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 50px;
  padding: 20px;
  background-color: #32de84;
  border: #32de84 8px;
  border-radius: 50px;
  color: white;
  width: 100%;
  font-size: 1.5rem;
  max-width: 250px;
  width: 100%;
}

.reset-button:hover {
  background-color: #28b46b;
}
